@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color:rgb(217, 191, 157);
}

.home-page {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 25px;
}

.home-page a{
    text-decoration: none;
}
.home-page a:hover h1{
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
    color: white;
}

.recipe {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 5px;
}

.recipe p{
    font-size: 22px;
    font-family: 'Merriweather', sans-serif;
    color: rgb(88, 88, 88);
    text-decoration: none;
    margin-top: 5px;
}

.text h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.748);
}

.text h4 {
    margin: 0;
    color: orangered;
}

.text h1:hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
    display: inline-block;
}

.recipe img {
    width: 100%;
    height: 10%;
    object-fit: cover;
    display: block;
}

.top-right-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: orangered;
}
.top-right-button:hover {
    color: white;
    background-color: rgb(214, 59, 3);
}
.top-right-button-clicked{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    fill: white;
    color: orangered;
    background-color: black;
}
.top-right-button-clicked:hover {
    background-color: rgb(17, 17, 17);
}

@media (max-width: 768px) {
    .home-page {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 15px;
    }

    .recipe {
        padding: 5px;
    }

    .image-container{
        height: 500px;
    }
    .image-container img {
        height: 100%;
    }


}

@media (max-width: 640px) {
    .home-page {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .recipe {
        margin: 20px 0;
        padding: 5px;
    }

    .recipe img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top-right-button, .top-right-button-clicked {
        padding: 6px;
        margin: 10px;
        font-size: 30px;
    }

    .text h1{
        font-size: 37px;
    }
}